@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--color-1: #ffffff;
	--color-2: #cbcbcb;
	--color-3: #b9b9b9;
}

html {
	scrollbar-gutter: stable;
}

body {
	background-color: var(--color-1);
}

* {
	font-family: "Montserrat";
	font-weight: 350;


	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.page {
	height: 100vh;
}









